<phpunit>

	<filter>
		
		<!-- Whitelisting the source files that should be analized for test coverage -->
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
			</exclude>
		</whitelist>

	</filter>

</phpunit>