// Key and base URI (with trailing /) to connect to the Mailchimp v3 API endpoints
MAILCHIMP_API_KEY=123123123123123123-us15
MAILCHIMP_BASE_URI=https://us15.api.mailchimp.com/3.0/
// The Mailchimp list ID to use and sync the data to
MAILCHIMP_LIST_ID=123123